Python/Flask/virtualenv/Project 1/venv/Lib/
Python/Flask/virtualenv/Project 1/venv/Include/
Python/Flask/virtualenv/Project 1/venv/tcl/
Python/Flask/virtualenv/Project 1/venv/Scripts/
Python/Flask/virtualenv/Project 1/venv/pip-selfcheck.json
