* {
  padding: 0;
  margin: 0;
}

.container {
  width: 970px;
  min-height:600px;
  margin: 0 auto;
}

.images {
  display: inline-block;
  width: 70%;

}

.info {
  width: 30%;
}

.images img {
  width: 25%;
  float: left;
}

.row {
  width: 100%;
}

.pokedex {
  width: 100%;
  min-height: 600px;

}
