* {
  padding: 0;
  margin: 0;
}

.container {
  width: 970px;
  min-height:600px;
  margin: 0 auto;
}

.images {
  display: inline-block;
  width: 100%;

}


.images img {
  width: 25%;
  float: left;
}
