*{
  padding: 0;
  margin: 0;
}

#header {
  height: 64px;
  background: linear-gradient(to bottom right, #f2f2f2, #fdfdfd);

}

#header h2{
  font-family: "Comic Sans MS", "cursive", "sans-serif";
  position: relative;
  top: 16px;
  left: 20px;

}

#container {
  width: 970px;
  height: 500px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #1e0d12, #6f5964);
}


.float-right {
  float: right;
  position: relative;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
}


#about{

  margin: 20px;
  border: 5px solid #c0c0c0;
  display: inline-block;
  vertical-align: top;
}

#aboutme {
  background: linear-gradient(to right, #fffeff, #dbccda);
  display: inline-block;
  height: 288px;
  margin-top: 20px;
  width: 450px;
  vertical-align: top;
}

#aboutheader{
  height: 45px;
  background: linear-gradient(#878593, #9b9aa3);
}

#aboutheader h2{
  color: white;
  padding: 10px;
}

#aboutme p{
  padding: 5px;
}
