* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.wrapper {
  width: 970px;
  margin: 0px auto;
  background-color: #eaeaea;

}

.navigation-bar {
  background-color: black;
  min-height: 25px;
  border-radius: 5px;
  width: 99%;
  margin-left: 10px;
}

.nav-links ul {
  list-style-type: none;

  float: right;
}

.nav-links ul li {
  display: inline;
  position: relative;
  bottom: 30px;
  right: 100px;
  border-left: 1px solid white;
}

.nav-links ul li a {
    text-decoration: none;
    padding: 15px;
    color: white;
}

.nav-links ul li:first-child {
  border-left: none;
}

.content-wrapper {
float: left;
display: inline-block;
vertical-align: top;

}


.left-content.content-wrapper, .right-content.content-wrapper {
  width: 50%;

}

.content-wrapper .content {

  margin: 20px;
}

.row {
  width: 100%;
  overflow: hidden;
}

.content h2,
.content p {
  padding-top: 17px;
}

.content h2 {
  font-family: 'Arvo';
  font-size: 30px;
  font-style: normal;
  font-weight: lighter;
}
.content-link {
  padding-top: 50px;
}
.content-link a {
  float: right;
  background-color: black;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  padding: 5px;

}

.left-content .content {
  padding-right: 60px;
}


.top-content .subcontents {
  width: 33%;
}


.subcontents-right.content-wrapper {
  min-height: 300px;
  background-color: white;
  width: 33%;
  border-radius: 5px;


}

.subcontents-left {
  width: 66%;
}

.subcontents {
  display: inline-block;
  float: left;
  background-color: #eaeaea;
  border-left: 2px solid white;
  min-height: 300px;


}

.subcontents h3, .bottom-content h3, .subcontents-right-text h3 {
  font-family: 'Arvo';
  font-size: 20px;
  font-style: normal;
  font-weight: lighter;
  padding: 5px;
}

.subcontents .icons, .subcontents .header {
  display: inline-block;
  float: left;
}

.subcontents:first-child {
  border-left: none;
  box-shadow: none;

}

.subcontents-text p {
  padding: 10px;
}

.subcontents-right-text img {
  vertical-align: middle;
}

.footer .content-footer {
  min-height: 300px;
  background-color: black;
  width: 100%;
}

.footer-bottom .content-footer {
  min-height: 50px;
}

.footer, .footer-bottom {
  width: 100%;
}

.subcontents-heading {
  display: inline-block;
}
